body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93f9b9, #1d976c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93f9b9, #1d976c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: "Roboto", sans-serif;
}

.scrollable-container {
  max-height: 100vh;
  overflow-y: auto;
}
*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#active-policy {
  background-color: #1d976c;
  color: whitesmoke;
  cursor: pointer;
}
